<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Character Database!</title>
</head>
<body>

    <%- include('partials/nav.ejs')  %>


    <% if(locals.characters) { %>
        <h1>Characters Found</h1>
        <% characters.forEach(chr =>{ %>
            <% if(!chr.ishidden) { %>
                <h2 href="/preview/character/<%= chr._id %>"><%= chr.name %></h2>
                <a href="/edit/character/<%= chr._id %>"> edit </a>
                <a href="/delete/character/<%= chr._id %>" onclick="return confirm('are you sure?')"> delete </a>
                <% } %>
            <% }); %>
    <% } %>
</body>
</html>